@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
 --font-dm-sans: var(--font-dm-sans);
 --font-dm-mono: var(--font-dm-mono);
 
}

body {
  background: var(--background);
  color: var(--foreground);

}


.scroll-style::-webkit-scrollbar {
  width: 6px;
}

.scroll-style::-webkit-scrollbar-thumb {
  background-color: #515050;    
  border-radius: 999px;
}

.scroll-style::-webkit-scrollbar-thumb:hover {
  background-color: #222;      
}


.scroll-style {
  scrollbar-width: thin;
  scrollbar-color: #817f7f transparent;
}


